body {
    background-image: url(../slike/ponudaback.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: large;
}
body div {




}