body {
    background-color: white;
}

.roditelj img {
    height: 150px;
    width: 200px;
    border-radius: 5px;
    margin: 5px;
}

.roditelj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

h1 {
    padding-left: 45px;
    padding-top: 10px;
    font-family: 'Times New Roman', ;
    color: grey;

}

#centar {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    background-color: lightgray;
}

#opis {
    background-color: rgb(92, 198, 233);
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 68%;
    color: grey;
}