body {
    background-image: url(https://i.postimg.cc/vBSqPK4x/1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

.roditelj img {
    height: 150px;
    width: 200px;
    border-radius: 5px;
    margin: 5px;
}

.roditelj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

h1 {
    padding-left: 45px;
    padding-top: 10px;
    font-family: 'Times New Roman', ;
    color: rgb(45, 39, 39);

}

#centar {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    background-color: lightgray;
}

#opis {
    background-color: rgb(92, 198, 233);
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 70%;
    color: rgb(45, 39, 39);
}