body {
    background-image: url(../Slike/slikaPocetne.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

.roditelj img {
    height: 150px;
    width: 200px;
    border-radius: 5px;
    margin: 5px;
}

.roditelj {
    /* koriscenje flex-a za slaganje slika */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

h1 {
    padding-left: 45px;
    padding-top: 10px;
    font-family: 'Times New Roman', ;
    color: rgb(45, 39, 39);

}

#centar {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    background-color: lightgray;
}

#opis {
    background-color: rgb(92, 198, 233);
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 70%;
    color: rgb(45, 39, 39);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),

        -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100px;
}

.meni {

    width: 39%;
    /* float:center;  */
    list-style: none;
    margin-top: 30px;
    /* margin-left: 500px; */
    margin-left: auto;
    margin-right: 5%;
}

.meni li {
    display: inline-block;
}

.meni li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
}

.meni li a:hover {
    background: #fff;
    color: #333;
}

.logo {
    float: left;
}

.logo img {



    width: 90px;
    height: 90px;
    padding-left: 20px;

}